@font-face {
    font-family: 'DaxCondensed';
    src: url('../fonts/DaxCondensed-Light.woff2') format('woff2'),
        url('../fonts/DaxCondensed-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'DaxCondensed-Black';
    src: url('../fonts/DaxCondensed-Black.woff2') format('woff2'),
        url('../fonts/DaxCondensed-Black.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

