html {
  box-sizing: border-box;
}
*, 
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  @include main-text;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content{
  flex: 1 0 auto;
}
.footer{
  flex: 0 0 auto;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}
.default-btn{
  padding: 11px 30px;
  color: #fff;
  font-family: 'Open Sans-semi';
  font-size: 15px;
  font-weight: 400;
  border: 2px solid #fff;
}
.default-input{
  width: 100%;
  padding: 16px 13px;
  outline: none;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  &::placeholder{
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 400;
  }
}
button{
  background-color: $orange;
  color: #fff;
}





