html {
  box-sizing: border-box;
}
*, 
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  @include main-text;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content{
  flex: 1 0 auto;
}
.footer{
  flex: 0 0 auto;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}
.default-btn{
  padding: 11px 30px;
  color: #fff;
  font-family: 'Open Sans-semi';
  font-size: 15px;
  font-weight: 400;
  border: 2px solid #fff;
}
.default-input{
  width: 100%;
  padding: 16px 13px;
  outline: none;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  &::placeholder{
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 400;
  }
}
button{
  background-color: $orange;
  color: #fff;
}
.subtitle{
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  margin: 0;
  &::after{
    position: absolute;
    content:'';
    left: 0;
    bottom: -25px;
    display: block;
    background-color: $orange;
    width: 64px;
    height: 2px;
  } 
}
.main-title{
  @include rale;
  color: #212121;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  &::after{
    position: absolute;
    content: '';
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 64px;
    height: 2px;
    background-color: $orange;
    
  }
}




